html {

    font-family:sans-serif;

}



.pomodoro-time{

    font-weight: bold;

    color:#32CD32;

    background-color:#F0F8FF;

    border-radius: 50px;

    font-size: 15px;

    padding: 5px 10px 5px 10px;

}



#add-new-todo-button{

    font-size: 15px;

    text-align: center;

    color: #33FFFFF;

    outline:none;

    border-style: none;

    padding:10px;

    border-radius:3px;

    box-shadow:2px 2px 1px #90A4AE;

    display:block;

    background-color:#32CD32;

    margin-top:10px;

}



#add-new-todo-button:active{

    box-shadow:1px 1px 1px #90A4AE;

}

#add-new-todo-button:hover{

    color:#000;

}



.Box-one{

    background-color: #E74C3C;

    color:#ECF0F1;

}



.Box-two{

    background-color:#3498D8;

    color:#ECF0F1;

}

o

.completed-todo{

    text-decoration: line-through;

}