<h2> Edit new todo??? </h2>
     <form action = '(todo/update) <%= @todo.id %>'>
     <input  class= "text-input" type = "text" id= "new-todo"placeholder = "add a new todo" value = "%=todo_description%>">   
     <input  class= "text-input" type ="number" id= "new-number" placeholder = "add Pomodoros" value = "todo.pomodoro_est%>">
     <input id ="add-new-todo-button" type ="submit" value = "Edit todo">
     <a href = "/todo/index" > Back </a>
         </form>
          