<h2> Add new tod </h2>
     <form action = '#'>
     <input  class= "text-input" type = "text" id= "new-todo" placeholder = "add a now todo">   
     <input  class= "text-input" type ="number" id= "new-number" placeholder = "add Pomodoros">
     <inputid ="add-new-todo-button" type ="submit" value = "Add todo">
         </form>
          