

        <h2> <%= @todo_description %> </h2>
        
        <span class = "pomodoro_est">
            
            <%= @todo_pomodoro_estimate%> </span>

        <a href ="#"> Edit </a>

        <a href ="index.html">cancel</a>

