        <h3> Todo #<%= params[:id] %> </h3>

        <h2> <%= @todo.description %> </h2>
        
        <span class = "pomodoro_est"> <h3> <%= @todo.pomodoro_estimate%>  </span></h3>

        <a href ="#"> Edit </a>

        <a href ="../index">cancel</a>

